.rwv-stn-00 {
    max-width: 100vw;
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rwv-stn-00 span {
    margin: 10px auto;
    display: block;
}

.rwv-stn-00 span:nth-child(3) {
    margin: 50px auto;
}

.rwv-stn-00-circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: rgba(247,255,128,0.99);
}

.rwv-stn-00 p:nth-child(2) {
    padding: 0 605px;
}

.rwv-stn-01 {
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--colour-7);
    display: flex;
}

.rwv-stn-01-c1 {
    width: 50%;
}

.rwv-stn-01-img-c1 {
    width: 100%;
    height: 100%;
    background-image: url("https://static.wixstatic.com/media/45d10e_59a77d0ccb5848d09af200c1dc8d1a4e~mv2.jpg/v1/fill/w_952,h_1173,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_59a77d0ccb5848d09af200c1dc8d1a4e~mv2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50%;
    position: sticky;
    top: 0;
    left: 0;
}

.rwv-stn-01-c2 {
    width: 50%;
    min-height: 100%;
}

.rwv-stn-01 .stn-01-img-wrp {
    padding: 150px;
    & > img {
        clip-path: polygon(0% 10%,
            10% 0%,
            100% 0%,
            100% 100%,
            0% 100%
        );
    }
}

.rwv-stn-02 {
    max-width: 100vw;
    height: 100vh;
    margin: 100px 130px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rwv-stn-02 > img {
    width: 100%;
}

.rwv-img-border {
    clip-path: polygon(0% 10%,
      10% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
    & > img {
        width: 90%;
    }
}

.rwv-stn-03  {
    width: 100%;
    height: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rwv-column-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rwv-column-left > .rwv-img-border {
    width: 50%;
}

.rwv-column-right {
    width: 50%;
    height: 100vh;
}

.rwv-column-right > div {
    height: 100%;
    background-image: url("https://static.wixstatic.com/media/c837a6_7b57ed7c87d34374985c124542df6738~mv2.jpg/v1/fill/w_953,h_1039,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_7b57ed7c87d34374985c124542df6738~mv2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50%;
}