#root {
  margin: 0;
  position: relative;
}

#home {
  min-height: 100vh;
}

#home::after {
  content: url("/src/assets/image.svg");
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: scale(0.7);
}

/*Hero*/

div.hero {
  margin: 130px 135px;
  display: flex;
  align-items: center;
  position: relative;
}

div.hero > div:nth-child(1) {
  margin: 80px 0;
}

div.hero > div > p.hero-text {
  font-size: 140px;
  letter-spacing: -5px;
  line-height: 120px;
  & > span {
    font-style: italic;
  }
}

/*Hero flower 1*/

div.flower-1-wrapper {
  position: absolute;
  top: 47px;
  left: 630px;
}

div.flower-1-cnt {
  position: relative;
  top: 0;
  left: 0;
}

div.flower-1-wrapper:hover div.flower-1-mask_on {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

div.flower-1-wrapper:hover div.flower-1-mask_off {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

div.flower-1-mask_on:not(:hover) {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

div.flower-1-mask_off:not(:hover) {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

div.flower-1-mask_on {
  width: 170px;
  height: 190px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  mask-clip: border-box;
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M20 100.002c41.21 6.266 54.993 20.886 54.993 20.886C92.289 135.827 99.952 180 99.952 180h.097s7.896-44.037 24.958-59.111c0 0 13.783-14.62 54.993-20.886v-.005c-41.21-6.266-54.993-20.886-54.993-20.886C107.944 64.037 100.048 20 100.048 20h-.097s-7.663 44.173-24.958 59.111c0 0-13.783 14.62-54.993 20.886v.005z'/%3E%3C/g%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-size: 120px;
  -webkit-mask-clip: border-box;
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M20 100.002c41.21 6.266 54.993 20.886 54.993 20.886C92.289 135.827 99.952 180 99.952 180h.097s7.896-44.037 24.958-59.111c0 0 13.783-14.62 54.993-20.886v-.005c-41.21-6.266-54.993-20.886-54.993-20.886C107.944 64.037 100.048 20 100.048 20h-.097s-7.663 44.173-24.958 59.111c0 0-13.783 14.62-54.993 20.886v.005z'/%3E%3C/g%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 120px;
  & > img {
    width: 100%;
    transform: scale(1.2) translate(-21px, -65px);
  }
}

div.flower-1-mask_off {
  width: 170px;
  height: 190px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: -35px;
  left: 15px;
  opacity: 0;
  & > img {
    width: 100%;
    transform: scale(1.7) translate(4px, -39px);
  }
}

/*Hero flower 2*/

div.flower-2-wrapper {
  position: absolute;
  left: 80px;
  bottom: 90px;
}

div.flower-2-cnt {
  position: relative;
  top: 0;
  left: 0;
}

div.flower-2-wrapper:hover div.flower-2-mask_on {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

div.flower-2-wrapper:hover div.flower-2-mask_off {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

div.flower-2-mask_on:not(:hover) {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

div.flower-2-mask_off:not(:hover) {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

div.flower-2-mask_on {
  width: 271px;
  height: 190px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: -9px;
  left: 106px;
  opacity: 1;
  mask-clip: border-box;
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg preserveAspectRatio='none' data-bbox='25 20 150 160' viewBox='25 20 150 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M104.687 62.329V20C60.677 20 25 55.817 25 100s35.677 80 79.687 80v-42.329C118.106 162.86 144.557 180 175 180V20c-30.443 0-56.894 17.14-70.313 42.329z'/%3E%3C/g%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-size: 100px;
  -webkit-mask-clip: border-box;
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg preserveAspectRatio='none' data-bbox='25 20 150 160' viewBox='25 20 150 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M104.687 62.329V20C60.677 20 25 55.817 25 100s35.677 80 79.687 80v-42.329C118.106 162.86 144.557 180 175 180V20c-30.443 0-56.894 17.14-70.313 42.329z'/%3E%3C/g%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100px;
  & > img {
    width: 100%;
    transform: scale(3) translate(-98px, 27px);
  }
}

div.flower-2-mask_off {
  width: 271px;
  height: 190px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  & > img {
    width: 100%;
  }
}

/*info card*/

div.sub-hero {
  height: 900px;
  margin: 0 135px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.sub-hero-bg {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 0% 37.008463541666664%, rgba(77,96,1,0.58) 0%, 19.8%, rgba(77,96,1,0) 66%), radial-gradient(circle at 92.96712239583333% 9.554036458333332%, #FAAA63 0%, 17.5%, rgba(250,170,99,0) 35%), radial-gradient(circle at 95.20670572916666% 90.48177083333333%, #C9C6FF 0%, 34.1%, rgba(201,198,255,0) 55%), radial-gradient(circle at 46.555989583333336% 11.50390625%, rgba(247,255,128,0.99) 0%, 25%, rgba(247,255,128,0) 50%), radial-gradient(circle at 49.391276041666664% 92.48697916666667%, #93AFFF 0%, 42%, rgba(147,175,255,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #E6E4DD 0%, 100%, rgba(230,228,221,0) 100%);
  box-sizing: border-box;
  opacity: 0;
}


div.info-card {
  width: 900px;
  height: 500px;
  background: var(--colour-1);
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.info-card > span > span.circle {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 100%;
  background: rgba(247,255,128,0.99);
}

div.info-card span {
  display: block;
  text-align: center;
}

div.info-card > span:nth-child(3) {
  padding: 0 172px;
}

div.info-card > .card-items {
  margin-bottom: 20px;
}

div.info-card > button {
  margin: 20px;
}

/* My Projects */

.project-title {
  padding: 60px 0;
}

.project-content {
  width: 100%;
  height: 1000px;
  background-color: var(--colour-3);
  display: flex;
  position: relative;
}

.project-content > div {
  max-width: 50%;
}

.project-content > div:nth-child(1) {
  width: 50%;
}

.project-parallax {
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  & a {
    position: absolute;
  }
  
  & img {
    clip-path: polygon(0% 10%,
      10% 0%,
      100% 0%,
      100% 100%,
      0% 100%);
  }
}

.p1-px-img {
  width: 100%;
  height: 100%;
  
  background-image: url("https://static.wixstatic.com/media/45d10e_5f001b282712449b808f44d927af9fc6~mv2.jpg/v1/fill/w_950,h_953,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_5f001b282712449b808f44d927af9fc6~mv2.jpg");
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.project-card {
  width: 50%;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.project-card > span:nth-child(1) {
  flex-grow: 2;
  line-height: 50px;
}

.project-card > span:nth-child(2) {
  width: 385px;
}

.project-card > span:nth-child(3) {
  padding-top: 50px;

  & > a {
    color: var(--colour-4);
    text-decoration: underline;
  }

  & > a::after {
    content: " >>";
  }
}

/* project-2 */

.project-2 {
  width: 100%;
  height: 1300px;

  background-image: url("https://static.wixstatic.com/media/11062b_540eb79aa87a4e09b665e6daf5843bfa~mv2.jpg");
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 105%;
}

.overlay {
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.35);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.overlay > span:nth-child(1) {
  padding-top: 120px;
  padding-bottom: 60px;
  line-height: 60px;
}

.overlay > span:nth-child(2) {
  width: 565px;
}

.overlay > span:nth-child(3) {
  padding-top: 20px;

  & > a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }

  & > a::after {
    content: " >>";
  }
}

/* project-3 */

.project-3 {
  width: 100%;
  height: auto;
  padding-top: 120px;
  box-sizing: border-box;
  display: flex;
}

.column {
  max-width: 50%;
  width: 50%;
}

.p3-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p3-left-bg {
  position: relative;
}

.p3-left > .p3-left-cnt {
  width: 350px;
  height: 450px;
  background-color: var(--colour-5);
  position: absolute;
}

.p3-right {

  & > img {
    width: 100%;
  }
}

.p3-left-cnt {
  padding: 40px;
  box-sizing: border-box;
}

.p3-left-cnt > span {
  display: block;
}

.p3-left-cnt > span:nth-child(1) {
  line-height: 50px;
}

.p3-left-cnt > span:nth-child(2) {
  padding: 30px 10px 0;
}

.p3-left-cnt > span:nth-child(3) {
  padding-top: 30px;

  & > a {
    text-decoration: underline;
  }

  & > a::after {
    content: " >>";
  }
}

/* project-4 */

.project-4 {
  width: 100%;
  height: auto;
  padding: 120px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.p4-px-img {
  width: 100%;
  height: 100vh;
  
  background-image: url("https://static.wixstatic.com/media/c837a6_4a4f895c121848afad327ce95285005c~mv2.jpg/v1/fill/w_1903,h_1004,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_4a4f895c121848afad327ce95285005c~mv2.jpg");
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.project-4-cnt {
  width: 300px;
  min-height: 450px;
  padding: 40px 70px;
  background-color: var(--colour-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

.project-4-cnt > span {
  display: block;
}

.project-4-cnt > span:nth-child(2) {
  padding: 0 20px;
  line-height: 50px;
}

.project-4-cnt> span:nth-child(3) {
  padding-top: 50px;
}

.project-4-cnt > span:nth-child(4) {
  padding-top: 30px;

  & > a {
    text-decoration: underline;
  }

  & > a::after {
    content: " >>";
  }
}

.project-4-cnt > span.circle {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 100%;
  background: rgba(247,255,128,0.99);
  position: absolute;
  top: -25px;
  left: 195px;
}

/* Creative Services */

.creative-services {
  height: 590px;
  padding: 0 140px;
  background: linear-gradient(var(--colour-1) 40%, rgba(247,255,128,0.99));
  position: relative;
}

.creative-services p div {
  padding: 10px 0;
}

.creative-services p div:nth-child(1) {
  font-size: 42px;
}

.creative-services p div:nth-child(2) {
  font-size: 120px;
  line-height: 110px;
}

.creative-services > div {
  position: absolute;
  top: 65px;
  left: 612px;
}

.creative-services > div > img {
  border-radius: 100%;
}
