:root {
  --colour-1: rgb(230, 228, 221);
  --colour-2: rgb(7, 86, 242);
  --colour-3: rgb(88, 92, 63);
  --colour-4: rgb(247, 255, 128);
  --colour-5: rgb(232, 214, 255);
  --colour-rg-1: radial-gradient(circle at 7.705078125000001% 4.788411458333333%, #F7FF80 0%, 17.5%, rgba(247,255,128,0) 35%), radial-gradient(circle at 57.679036458333336% 2.1223958333333335%, #F7FF80 0%, 17.5%, rgba(247,255,128,0) 35%), radial-gradient(circle at 35.553385416666664% 1.171875%, #F7FF80 0%, 17.5%, rgba(247,255,128,0) 35%), radial-gradient(circle at 11.407877604166666% 0.026041666666666668%, #F7FF80 0%, 17.5%, rgba(247,255,128,0) 35%), radial-gradient(circle at 84.599609375% 0.9635416666666667%, #F7FF80 0%, 17.5%, rgba(247,255,128,0) 35%), radial-gradient(circle at 23.3203125% 0%, #F7FF80 0%, 17.5%, rgba(247,255,128,0) 35%), radial-gradient(circle at 72.68717447916667% 0.013020833333333334%, #F7FF80 0%, 17.5%, rgba(247,255,128,0) 35%), radial-gradient(circle at 95.74869791666667% 0%, #F7FF80 0%, 22%, rgba(247,255,128,0) 77%), radial-gradient(circle at 11.043294270833332% 84.775390625%, #D7CBF8 0%, 44.1%, rgba(215,203,248,0) 70%), radial-gradient(circle at 82.65462239583333% 71.59505208333333%, #FAAA63 0%, 27.9%, rgba(250,170,99,0) 45%), radial-gradient(circle at 0% 15.016276041666668%, #F7FF80 0%, 29.900000000000002%, rgba(247,255,128,0) 65%), radial-gradient(circle at 48.29915364583333% 0%, rgba(247,255,128,0.99) 0%, 25%, rgba(247,255,128,0) 50%), radial-gradient(circle at 48.9013671875% 49.521484375%, #E6E4DD 0%, 100%, rgba(230,228,221,0) 100%);
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--colour-1);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: var(--colour-2);
  }
  &:hover {
    color: var(--colour-3);
  }
}
